Django==5.0.5
djangorestframework==3.16.0
djangorestframework-simplejwt==5.3.0
dj-database-url==2.1.0
django-cors-headers==4.3.1
django-redis==5.4.0
django-storages==1.14.2
django-filter==23.5
psycopg2-binary==2.9.9
boto3==1.33.0
minio==7.2.0
celery==5.3.6
redis==5.0.0
kombu==5.3.4
requests==2.31.0
python-dotenv==1.0.0
Pillow==10.1.0
uuid==1.30
gunicorn==21.2.0